.information-container {
  display: flex;
  margin: 0 auto;
  padding: 20px 30px;
  max-width: 1350px;
}
.about-img {
  width: 250px;
}

.information-about {
  margin: 10px;

  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-variant: small-caps;
  font-weight: 500;
  line-height: 25px;
}
