.contact-container {
  display: flex;

  padding: 0px 20px;
}

/* .contact {
  display: flex;
  align-items: flex-start;
} */

a {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
