body {
  margin: 0;
  background: white;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #fdbcb4;
}

.header {
  padding: 10px 350px;
  margin: 0 auto;

  /* max-width: 1340px; */
  height: 30px;

  display: flex;
  justify-content: space-between;

  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: small-caps;
  font-weight: 500;
  line-height: 25px;

  background-color: #ffefd5;
  max-width: 1340px;
}

/* .main-footer {
  position: relative;
} */

.footer {
  padding: 20px;
  margin: 0 auto;
  position: absolute;
  bottom: 0;

  /* max-width: 600px; */

  display: flex;
  justify-content: space-between;

  font-family: "Gill Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: small-caps;
  font-weight: 400;
  line-height: 20px;
}
