/* .bio-container {
  margin: 0 auto;
  padding: 20px 30px;
  display: flex;
  max-width: 1200px;
}

.memoji-img {
  width: 150px;
  padding-right: 15px;
}

.bio {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: small-caps;
  font-weight: 500;
  line-height: 25px;
} */

.bio-container {
  margin: 0 auto;
  padding: 20px 30px;
  max-width: 1200px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.memoji-img {
  width: 150px;
  z-index: 1;
  position: relative;
  margin-top: 50px;
}

.bio {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: small-caps;
  font-weight: 500;
  line-height: 25px;
  position: absolute;
  top: 0;
}

.name {
  font-family: "Montserrat", sans-serif;
  font-size: 130px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 25px;
}

.job-title {
  font-family: "Montserrat", sans-serif;
  font-size: 85px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 25px;
}
