.work-container {
  margin: 0 auto;
  max-width: 1330px;
}

.works {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.work {
  font-size: 23px;
  box-sizing: border-box;
  border: 1px solid peachpuff;
  padding: 15px;
}

.podcast-landing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.podcast-landing-img {
  width: 400px;
}

.work-heading {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;

  font-family: "Ubuntu", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-variant: small-caps;
  font-weight: 500;
  line-height: 25px;
}
